<h3> Arithmetic and Numbers </h3>

In [1]:
100

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.34.123:4040
SparkContext available as 'sc' (version = 2.3.0, master = local[*], app id = local-1581706879414)
SparkSession available as 'spark'

res0: Int = 100

In [2]:
2.5

res1: Double = 2.5

In [3]:
1 + 1

res2: Int = 2

In [4]:
2 - 1

res3: Int = 1

In [5]:
2 * 5

res4: Int = 10

<h3> Classic division </h3>

In [6]:
1 / 2

res5: Int = 0

<h3> True division </h3>

In [7]:
1.0/2

res6: Double = 0.5

In [8]:
1/2.0

res7: Double = 0.5

In [9]:
1.0/2.0

res8: Double = 0.5

In [10]:
math.pow(4,2)

res9: Double = 16.0

In [11]:
res0

res10: Int = 100

In [12]:
res10 + res0

res11: Int = 200

In [13]:
1 + 2 * 3 + 4

res12: Int = 11

In [14]:
(1 + 2) * (3 + 4)

res13: Int = 21

In [15]:
3 * 0.3048

res14: Double = 0.9144000000000001

<h3> Values and Variables </h3>

<h3> Values (val) are immutable, once they are assigned they cannot be changed.  
Variables (var) can be reassigned  
When reassigning you must use the same Data Type! </h3>

In [16]:
var myvar: Int = 10

myvar: Int = 10

In [17]:
val myval: Double = 2.5

myval: Double = 2.5

<h3> Reassignment not valid because not the same data type </h3>

In [18]:
myvar = "Hello"

<console>: 26: error: type mismatch;

In [20]:
myvar = 100

myvar: Int = 100

<h3> Although data type is correct val does not allow it </h3>

In [21]:
myval = "Hello"

<console>: 26: error: reassignment to val

In [22]:
myval = 10.1

<console>: 26: error: reassignment to val

In [23]:
val c = 12

c: Int = 12

In [24]:
val my_string = "Hello"

my_string: String = Hello

In [25]:
val 2my_string = "Hello"

<console>: 2: error: Invalid literal number

In [26]:
val my.string = "Hello"

<console>: 24: error: not found: value my

<h3> Booleans and Comparison Operators </h3>

In [27]:
true

res16: Boolean = true

In [28]:
false

res17: Boolean = false

In [29]:
1 > 2

res18: Boolean = false

In [30]:
1 < 2

res19: Boolean = true

In [31]:
1 >= 1

res20: Boolean = true

In [32]:
1 <= 30

res21: Boolean = true

In [33]:
2 == 2

res22: Boolean = true

In [34]:
2 != 4

res23: Boolean = true

<h3> Remainer </h3>

In [35]:
4 % 2

res24: Int = 0

In [36]:
5 % 2

res25: Int = 1

In [37]:
6 % 2

res26: Int = 0

<h3> Strings and Basic Regex </h3>

In [38]:
println("hello")

hello

In [39]:
println('hello')

<console>: 2: error: unclosed character literal

In [40]:
val farewell = "good" + "bye"

farewell: String = goodbye

In [41]:
"good" + "bye"

res28: String = goodbye

In [42]:
"dance"*5

res29: String = dancedancedancedancedance

In [43]:
val st = "hello"

st: String = hello

In [44]:
st

res30: String = hello

In [46]:
st.length

res31: Int = 5

In [47]:
st.length()

res32: Int = 5

In [48]:
val name = "Jose"

name: String = Jose

In [49]:
name

res33: String = Jose

In [51]:
val greet = s"Hello ${name}"

greet: String = Hello Jose

In [52]:
val greet = s"Hello $name"

greet: String = Hello Jose

In [53]:
val greet = f"hello $name"

greet: String = hello Jose

In [54]:
val greet = hello $name

<console>: 24: error: not found: value hello

In [55]:
printf("A string %s, an integer %d, a float %f", "Hi", 10, 12.345)

A string Hi, an integer 10, a float 12,345000

In [56]:
printf("A float %1.2f", 1.2345)

A float 1,23

In [57]:
printf("A float %1.2f", 1.2395)

A float 1,24

In [58]:
val st = "This is a long string"

st: String = This is a long string

In [59]:
st.charAt(0)

res37: Char = T

In [60]:
st.charAt(3)

res38: Char = s

In [61]:
st.indexOf("a")

res39: Int = 8

In [62]:
st slice(0,4)

res40: String = This

In [64]:
st slice(10, 14)

res42: String = long

In [65]:
val st = "term1 term2 term3"

st: String = term1 term2 term3

In [66]:
st matches "term1 term2 term3"

res43: Boolean = true

In [67]:
st matches "term1"

res44: Boolean = false

In [68]:
st contains "term1"

res45: Boolean = true

In [69]:
st contains "term4"

res46: Boolean = false

<h3> Tuples </h3>

In [70]:
(1,2.2,"hello")

res47: (Int, Double, String) = (1,2.2,hello)

In [71]:
val my_tup = (1,2,"hello",23.2, true)

my_tup: (Int, Int, String, Double, Boolean) = (1,2,hello,23.2,true)

In [73]:
(3,1,(2,3))

res49: (Int, Int, (Int, Int)) = (3,1,(2,3))

In [74]:
my_tup

res50: (Int, Int, String, Double, Boolean) = (1,2,hello,23.2,true)

In [75]:
my_tup._3

res51: String = hello

In [76]:
my_tup._5

res52: Boolean = true

<h3> Lists </h3>

In [77]:
val evens = List(2,4,6,8,10)

evens: List[Int] = List(2, 4, 6, 8, 10)

In [78]:
List(1,2.2,true)

res53: List[AnyVal] = List(1, 2.2, true)

In [79]:
evens

res54: List[Int] = List(2, 4, 6, 8, 10)

In [80]:
evens(0)

res55: Int = 2

In [81]:
evens(4)

res56: Int = 10

In [82]:
evens.head

res57: Int = 2

In [83]:
evens.tail

res58: List[Int] = List(4, 6, 8, 10)

In [85]:
val my_list = List(List(1,2,3), List(4,5,6))

my_list: List[List[Int]] = List(List(1, 2, 3), List(4, 5, 6))

In [86]:
val my_list = List(("a", 1), ("b", 2),("c",3))

my_list: List[(String, Int)] = List((a,1), (b,2), (c,3))

In [87]:
val my_list = List(3,6,1,7,10)

my_list: List[Int] = List(3, 6, 1, 7, 10)

In [88]:
my_list.sorted

res59: List[Int] = List(1, 3, 6, 7, 10)

In [89]:
my_list.size

res60: Int = 5

In [90]:
my_list.max

res61: Int = 10

In [91]:
my_list.min

res62: Int = 1

In [92]:
my_list.sum

res63: Int = 27

In [93]:
my_list.product

res64: Int = 1260

In [94]:
val x = List(1,2,3,4)

x: List[Int] = List(1, 2, 3, 4)

In [95]:
x.drop(2)

res65: List[Int] = List(3, 4)

In [96]:
x.takeRight(1)

res66: List[Int] = List(4)

In [97]:
x.takeRight(3)

res67: List[Int] = List(2, 3, 4)

In [98]:
val x = List(1,2,3,4,5,6,7,8)

x: List[Int] = List(1, 2, 3, 4, 5, 6, 7, 8)

In [100]:
x slice(0, 3)

res69: List[Int] = List(1, 2, 3)

In [101]:
x slice(3,6)

res70: List[Int] = List(4, 5, 6)

<h3> Arrays </h3>

<h3> Arrays are mutable, Lists are not </h3>

In [1]:
val arr = Array(1,2,3)

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.0.185:4040
SparkContext available as 'sc' (version = 2.3.0, master = local[*], app id = local-1581794234012)
SparkSession available as 'spark'

arr: Array[Int] = Array(1, 2, 3)

In [2]:
val arr = Array("a", "b", "c")

arr: Array[String] = Array(a, b, c)

In [3]:
val arr = Array(1,2.2,true)

arr: Array[AnyVal] = Array(1, 2.2, true)

In [4]:
Array.range(0,10)

res0: Array[Int] = Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [5]:
Array.range(0,10,2)

res1: Array[Int] = Array(0, 2, 4, 6, 8)

In [6]:
Range(0,5)

res2: scala.collection.immutable.Range = Range(0, 1, 2, 3, 4)

<h3> Sets </h3>

In [7]:
val s = Set()

s: scala.collection.immutable.Set[Nothing] = Set()

In [8]:
val s = Set(1,2,3)

s: scala.collection.immutable.Set[Int] = Set(1, 2, 3)

In [9]:
val s = Set(1,1,1,1,2,2,2,2,2,3,3,3)

s: scala.collection.immutable.Set[Int] = Set(1, 2, 3)

In [10]:
val s = collection.mutable.Set(1,2,3)

s: scala.collection.mutable.Set[Int] = Set(1, 2, 3)

In [11]:
s

res3: scala.collection.mutable.Set[Int] = Set(1, 2, 3)

In [13]:
s += 4

res5: s.type = Set(1, 2, 3, 4)

In [14]:
val s = Set(1,2,3)

s: scala.collection.immutable.Set[Int] = Set(1, 2, 3)

In [15]:
s += 4

<console>: 28: error: value += is not a member of scala.collection.immutable.Set[Int]

In [16]:
val imuts = collection.mutable.Set(1,2,3)

imuts: scala.collection.mutable.Set[Int] = Set(1, 2, 3)

In [17]:
imuts += 4

res7: imuts.type = Set(1, 2, 3, 4)

In [18]:
imuts

res8: scala.collection.mutable.Set[Int] = Set(1, 2, 3, 4)

In [19]:
imuts.add(5)

res9: Boolean = true

In [20]:
imuts

res10: scala.collection.mutable.Set[Int] = Set(1, 5, 2, 3, 4)

In [21]:
imuts.max

res11: Int = 5

In [22]:
imuts.min

res12: Int = 1

In [23]:
val mylist = List(1,2,3,1,2,3)

mylist: List[Int] = List(1, 2, 3, 1, 2, 3)

In [24]:
mylist.to

res13: scala.collection.immutable.IndexedSeq[Int] = Vector(1, 2, 3, 1, 2, 3)

In [25]:
mylist.toSet

res14: scala.collection.immutable.Set[Int] = Set(1, 2, 3)

In [26]:
val mynewset = mylist.toSet

mynewset: scala.collection.immutable.Set[Int] = Set(1, 2, 3)

In [27]:
mynewset

res15: scala.collection.immutable.Set[Int] = Set(1, 2, 3)

<h3> Maps </h3>

In [28]:
val mymap = Map(("a", 1), ("b", 2), ("c", 3))

mymap: scala.collection.immutable.Map[String,Int] = Map(a -> 1, b -> 2, c -> 3)

In [29]:
mymap("a")

res16: Int = 1

In [30]:
mymap("c")

res17: Int = 3

In [31]:
mymap("d")

java.util.NoSuchElementException:  key not found: d

In [32]:
mymap get "a"

res19: Option[Int] = Some(1)

In [33]:
mymap get "d"

res20: Option[Int] = None

In [35]:
mymap("a")

res22: Int = 1

In [36]:
mymap get "a"

res23: Option[Int] = Some(1)

In [37]:
mymap("D")

java.util.NoSuchElementException:  key not found: D

In [38]:
mymap get "D"

res25: Option[Int] = None

In [39]:
val mymutmap = collection.mutable.Map(("x", 1), ("y", 2), ("z", 3))

mymutmap: scala.collection.mutable.Map[String,Int] = Map(z -> 3, y -> 2, x -> 1)

In [40]:
mymutmap += ("newkey" -> 999)

res26: mymutmap.type = Map(z -> 3, y -> 2, x -> 1, newkey -> 999)

In [41]:
mymutmap

res27: scala.collection.mutable.Map[String,Int] = Map(z -> 3, y -> 2, x -> 1, newkey -> 999)

In [42]:
mymutmap += ("brandnew", 12)

<console>: 28: error: type mismatch;

In [44]:
mymutmap += ("brandnew" -> 12)

res29: mymutmap.type = Map(z -> 3, y -> 2, x -> 1, brandnew -> 12, newkey -> 999)

In [45]:
mymutmap

res30: scala.collection.mutable.Map[String,Int] = Map(z -> 3, y -> 2, x -> 1, brandnew -> 12, newkey -> 999)

In [46]:
mymap

res31: scala.collection.immutable.Map[String,Int] = Map(a -> 1, b -> 2, c -> 3)

In [47]:
mymap.keys

res32: Iterable[String] = Set(a, b, c)

In [48]:
mymap.values

res33: Iterable[Int] = MapLike(1, 2, 3)

In [49]:
mymutmap += ("new1" -> 123)

res34: mymutmap.type = Map(z -> 3, y -> 2, x -> 1, brandnew -> 12, newkey -> 999, new1 -> 123)

In [50]:
mymutmap.keys

res35: Iterable[String] = Set(z, y, x, brandnew, newkey, new1)

2020-02-15 21:09:57 WARN  HeartbeatReceiver:66 - Removing executor driver with no recent heartbeats: 709263 ms exceeds timeout 120000 ms
2020-02-15 21:09:57 ERROR TaskSchedulerImpl:70 - Lost an executor driver (already removed): Executor heartbeat timed out after 709263 ms
2020-02-15 21:09:57 WARN  SparkContext:66 - Killing executors is not supported by current scheduler.

<h3> Flow Control </h3>

In [52]:
if(true){
    println("I will print if true")
}

I will print if true

In [54]:
if(3 == 3){
    println("3 is equal to 3")
}

3 is equal to 3

In [55]:
val x = "hello"

x: String = hello

In [56]:
if(x.endsWith("o")){
    println("The value of x ends with o")
}

The value of x ends with o

In [57]:
val x = "hola"

x: String = hola

In [59]:
if(x.endsWith("o")){
    println("The value of x ends with o")
}else{
    println("The value does not of x ends with o")
}

The value does not of x ends with o

In [67]:
val person = "Sammy"

person: String = Sammy

In [68]:
if(person == "Sammy"){
    println("welcome Sammy")
}else if(person == "George"){
    println("welcome George")
}else{
    println("What is your name?")
}

welcome Sammy

In [69]:
// AND
println((1 == 2) && (2 == 2))

false

In [70]:
println((1 == 1) && (2 == 2))

true

In [71]:
// OR
println((1 == 2) || (2 == 2))

true

In [72]:
// NOT
println(!(1 == 1))

false

<h3> While Loops </h3>

In [74]:
var x = 0

x: Int = 0

In [75]:
while(x < 5){
    println(s"x is currently $x")
    println("x is still less than 5, adding 1 to x")
    x = x + 1
}

x is currently 0
x is still less than 5, adding 1 to x
x is currently 1
x is still less than 5, adding 1 to x
x is currently 2
x is still less than 5, adding 1 to x
x is currently 3
x is still less than 5, adding 1 to x
x is currently 4
x is still less than 5, adding 1 to x

In [81]:
import util.control.Breaks._

import util.control.Breaks._

In [82]:
var y = 0

y: Int = 0

In [83]:
while(y < 10){
    println(s"y is currently $y")
    println("y is still less than 10, adding 1 to y")
    y = y + 1
    if(y==3) break
}

y is currently 0
y is still less than 10, adding 1 to y
y is currently 1
y is still less than 10, adding 1 to y
y is currently 2
y is still less than 10, adding 1 to y

scala.util.control.BreakControl:

<h3> Functions </h3>

In [84]:
def simple():Unit = {
    println("simple print")
}

simple: ()Unit

In [85]:
simple()

simple print

In [86]:
def adder(num1:Int, num2:Int): Int = {
    return num1 + num2
}

adder: (num1: Int, num2: Int)Int

In [87]:
adder(4,5)

res57: Int = 9

In [88]:
adder("4", "5")

<console>: 34: error: type mismatch;

In [89]:
def greetName(name:String): String = {
    return s"Hello $name"
}

greetName: (name: String)String

In [91]:
val fullgreet = greetName("Jose")
println(fullgreet)

Hello Jose

fullgreet: String = Hello Jose

In [92]:
def isPrime(numcheck:Int):Boolean = {
    for(n <- Range(2, numcheck)){
        if(numcheck%n == 0){
            return false
        }
    }
    return true
}
println(isPrime(10)) // false
println(isPrime(23)) // true

false
true

isPrime: (numcheck: Int)Boolean

In [93]:
val numbers = List(1,2,3,7)

numbers: List[Int] = List(1, 2, 3, 7)

In [95]:
def check(nums:List[Int]):List[Int]={
    return nums
}
println(check(numbers))

List(1, 2, 3, 7)

check: (nums: List[Int])List[Int]